:root {
  --border-radius-lg: 12px;
  --color-border: #dfdfdf;
  --color-btn-bg: #4a474c;
  --color-primary: #ff0000;
  --color-code-bg: #fff;
  --color-code: #4a474c;
  --font-sans: 'Open Sans', sans-serif;
  --font-xl: 29px;
  --font-lg: 24px;
  --font-md: 18px;
  --font-sm: 14px;
  --font-body: 15px;
  --font-head: 19px;
  --font-weight: 600;
  --align-center: center;
  --border: 1px solid var(--color-border);
}

.layout {
  max-width: 960px;
  margin: 0 auto;
}

html {
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  font-family: var(--font-sans);
  font-size: var(--font-body);
  line-height: 1.5;
  overflow-y: scroll;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: var(--color-code);
  font-family: var(--font-sans);
  font-weight: normal;
  margin: 0;
  word-wrap: break-word;
}

h1 {
  font-weight: var(--font-weight);
  font-size: var(--font-xl);
  margin-bottom: 15px;
  margin-top: 0;
}

h2 {
  font-weight:  var(--font-weight);
  font-size: var(--font-xl);
  margin-bottom: 15px;
  margin-top: 0;
}

p {
  margin: 0 0 10px;
}

@media only screen and (max-width: 640px) {
  h1 {
    font-size: var(--font-head);
  }

  h2 {
    font-size: var(--font-head);
  }
}